// app global css in SCSS form

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: initial;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
